@{
    ViewBag.Title = "Home Page";
}
@using StoryPointCalculator.Models
@model StoryPointCalculator.Models.Story

<div class="row">
    <div class="col-md-8">
        <h2>Story</h2>
        <p>
            A new story to be estimated by the team.
        </p>
    </div>
</div>

<hr/>

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="judge" placeholder="your name">
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-labeled btn-primary" onclick="joinEstimation()">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>Join Estimation
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <button type="button" class="btn btn-labeled btn-success" onclick="startNewVote()">
                    <span class="btn-label btn-primary btn-default">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </span>Start New Vote
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <button id="showHideButton" type="button" class="btn btn-labeled btn-default" onclick="showEstimations()">
                    <span class="btn-label">
                        <i class="glyphicon @(Model.Showing ? "glyphicon glyphicon-eye-close" : "glyphicon-eye-open") "></i>
                    </span>@(Model.Showing ? "Hide Votes" : "Show Votes")
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <button type="button" class="btn btn-default" aria-label="Left Align" onclick="showPanel()">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="collapse-button"></span>
                </button>
            </div>
        </div>
    </div>

    <div id="pointing-panel">
        <div class="row center">
            <div class="col-md-10">
                <div class="slidecontainer">
                    <label>Complexity @(StoryPoint.GetScoreExplanation(Model.CurrentStoryPoint.Complexity))</label>
                    <input type="range" class="slider" min="0" max="10" value="@Model.CurrentStoryPoint.Complexity" onchange="submitSilently()" id="complexity">
                </div>
                <div class="slidecontainer">
                    <label>Effort @(StoryPoint.GetScoreExplanation(Model.CurrentStoryPoint.Effort))</label>
                    <input type="range" class="slider" min="0" max="10" value="@Model.CurrentStoryPoint.Effort" onchange="submitSilently()" id="effort">
                </div>
                <div class="slidecontainer">
                    <label>Uncertainty @(StoryPoint.GetScoreExplanation(Model.CurrentStoryPoint.Uncertainty))</label>
                    <input type="range" class="slider" min="0" max="10" value="@Model.CurrentStoryPoint.Uncertainty" onchange="submitSilently()" id="uncertainty">
                </div>
            </div>
            <div class="col-md-2">
                <div class="wrapper">
                    <span id="myPoint" class="badge">@Model.CurrentStoryPoint.Point</span>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-labeled btn-primary" onclick="submit()">
                <span class="btn-label btn-primary btn-default">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                </span>Submit
            </button>
        </div>
    </div>
</div>

<hr/>

<div>
    <div class="row panel-group center">
        <div class="col-md-8">
            <h2>Estimates </h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div id="votes"></div>
</div>